//background-color
$color-bg-base: #FFFFFF;
$color-bg-sub: #000000;
$color-bg-card: #F6F6F6;
$color-bg-footer: #000000;

//font-color
$color-font-base: #000000;
$color-font-sub: #FFFFFF;
$color-font-form: #797878;

//border-color
$color-border-base: #707070;
$color-border-sub: #E7E7E7;

//その他
$color-accent: #978F10;